@page "/cascading"
<h3>Cascading</h3>

<CascadingValue Value="@mensagemGlobal">
    <h1>Exemplo Cascading</h1>
    <CascadingFilho></CascadingFilho>
</CascadingValue>

@code {
    private string mensagemGlobal = "Mensagem compartilhada entre componentes!";
}

