<h3>Cascading</h3>

<CascadingValue Value="@mensagemGlobal">
    <CascadingFilho></CascadingFilho>
</CascadingValue>

@code {
    private string mensagemGlobal = "Mensagem compartilhada entre componentes!";
}

