@inherits LayoutComponentBase

<h3>MenuGallery</h3>

<div id="container">
    <div class="sub-container">
        <a href="content">
            <div class="card">
                <img src="https://images.pexels.com/photos/12232534/pexels-photo-12232534.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                <h3>Salmos 16</h3>
            </div>
        </a>
    </div>
</div>

@code {
    
    
}