@using System.Runtime.InteropServices.JavaScript
@inherits LayoutComponentBase

<h3>MenuGallery</h3>

<div id="container">
    <div class="sub-container">
        <!-- Uma forma de adicionar quantos cards tem no registro array -->
    </div>
</div>

@code {



}