@page "/cascading"
@using BlazorSalmos.Components.Layout
@model BlazorSalmos.Components.Pages.CascadingExample


<!DOCTYPE html>

<html>
<head>
    <title>Cascading Example</title>
</head>
<body>
<div>
    <h1>Exibindo Cascading Filho</h1>
    <CascadingFilho/>
</div>
</body>
</html>